<div class="card text-white bg-primary" style="margin-left: 2.5%; margin-right: 2.5%">
  <div class="card-header d-flex">
    <h1 class="card-title mx-auto mt-3">Create your post</h1>
    <div class="btn btn-light ml-auto" (click)="addPart()">Add next post part</div>
    <div class="btn btn-light ml-auto" (click)="removeLastPart()">Remove last post part</div>
    <div class="btn btn-light ml-auto" (click)="savePost()">Save Post</div>

  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <input type="text" [(ngModel)]="editedPost.title" name="title" class="form-control">
        </div>
        <ng-select *ngIf="membersfetched" class="mt-3" [items]="membersList"
                   bindValue="id"
                   bindLabel="fullName"
                   name="type"
                   placeholder="Choose Author"
                   [(ngModel)]="editedPost.authorId">
        </ng-select>
        <ng-select class="mt-3" [items]="topicList"
                   name="type"
                   placeholder="Choose Topic"
                   [(ngModel)]="editedPost.postTopic">
        </ng-select>
      </div>
    </form>
    <div class="d-flex">
      <div class="card mx-auto text-dark" style="width: 100%;">
        <div class="card-body" *ngFor="let part of editedPost.parts">
          <form>
            <div class="card mx-auto text-dark bg-secondary" style="width: 100%;">
              <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Header</span>
                    </div>
                    <input [(ngModel)]="part.header" name="text" class="form-control">
                  </div>
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Content</span>
                    </div>
                    <textarea [(ngModel)]="part.contents" name="text" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


