<div class="d-flex">
  <div class="card mx-auto" style="width: 95%;">
    <div class="card-header">
      <div id="gridContainer">
        <div class="row">
          <div class="col-10"> <h4 class="card-title mr-auto ml-4">Recent Posts</h4> </div>
          <div class="col-2"> <div class="btn btn-primary m-auto" style="text-align:center" (click)="onAddWikiButtonClick()"><h5>Add post</h5></div> </div>
        </div>
      </div>
    </div>
    <div *ngFor="let post of postList">
      <app-post-item [post]="post"></app-post-item>
    </div>
  </div>
</div>
