<div class="card text-white bg-primary" style="margin-left: 2.5%; margin-right: 2.5%">
  <div class="card-header d-flex">
    <h1 *ngIf="post" class="card-title mx-auto mt-3">{{post.title}}</h1>
    <div class="btn btn-light ml-auto" (click)="deletePost()">Delete post</div>
  </div>
  <div class="card-body">
    <div class="d-flex mb-5">
      <h2 *ngIf="post" class="mx-auto mt-3">Post Topic: <span class="badge badge-secondary">{{post.postTopic}}</span></h2>
    </div>
    <app-parts-list [list]="post.parts" *ngIf="post && post.parts" ></app-parts-list>
  </div>
</div>
