<div clas  post_topics: TopicModel[];s="d-flex mt-5">
  <div class="card mx-auto text-dark" style="width: 80%;">
    <div class="card-header d-flex">
      <h5 class="card-title mx-auto">Wiki Authors</h5>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name of authors</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of list; index as i">
        <th scope="row" style="width: 7%">{{ i + 1 }}</th>
        <td style="width: 65%">{{ member.name }} {{member.surname}}</td>
        <td scope="row" style="width: 28%"><div class="btn btn-primary mr-4" (click)="onMemberButtonClick(member)">See Author Details</div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
