<div class="card text-white bg-primary" style="margin-left: 2.5%; margin-right: 2.51%">
  <div class="card-header d-flex">
    <h1 *ngIf="member" class="card-title mx-auto mt-3">{{member.name}} {{member.surname}}</h1>
  </div>
  <div class="card-body">
    <div class="d-flex mb-2">
      <h2 *ngIf="member" class="card-title mx-auto mt-3">{{member.organisationStatus}}</h2>
      <h3 *ngIf="member" class="card-title mx-auto mt-3">Points Number: {{member.points}}</h3>
    </div>
    <div class="d-flex mb-1">
      <h3 *ngIf="member" class="card-title mx-auto mt-3">Phone number: {{member.phone_number}}</h3>
    </div>
    <div class="d-flex mb-5">
      <h3 *ngIf="member" class="card-title mx-auto mt-3">E-mail: {{member.email}}</h3>
    </div>
    <app-activities-list [list]="member.activities" *ngIf="member && member.activities"></app-activities-list>
    <div class="d-flex m-4">
    <div class="btn btn-light m-auto" style="text-align:center" (click)="addMemberActivity(content)"><h5>Add Activities</h5></div>
    </div>
    <app-project-list [list]="member.projects" *ngIf="member && member.projects"></app-project-list>
    <div class="d-flex m-4">
      <div class="btn btn-light m-auto" style="text-align:center" (click)="editMember(content1)"><h5>Edit member</h5></div>
    </div>
    <div class="d-flex m-4">
      <div class="btn btn-light m-auto" style="text-align:center" (click)="onDeleteMember(content2)"><h5>Delete member</h5></div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add activities</h5>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Activity content</span>
          </div>
          <textarea [(ngModel)]="activitiesToEdit.name" name="activityName" class="form-control"></textarea>
        </div>
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Points</span>
          </div>
          <input type="number" [(ngModel)]="activitiesToEdit.points" name="activityName" min = 1 max = 50>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn btn-secondary m1-auto" (click)="modal.close()">Cancel</div>
    <div class="btn btn-primary" (click)="saveActivity(modal)">Save</div>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title m-auto" id="modal-basic-title1" style="text-align: center">Edit member</h5>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="width: 3.5cm">First name</span>
          </div>
          <input type="text" [(ngModel)]="member.name" name="firstname" class="form-control">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="width: 3.5cm">Surname</span>
          </div>
          <input type="text" [(ngModel)]="member.surname" name="surname" class="form-control">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="width: 3.5cm">Phone number</span>
          </div>
          <input type="text" [(ngModel)]="member.phone_number" name="phone_number" class="form-control">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="width: 3.5cm">E-mail</span>
          </div>
          <input type="text" [(ngModel)]="member.email" name="email" class="form-control">
        </div>
        <div class="input-group mt-2">
          <ng-select class="mt-3" [items]="organisationStatusList"
                     bindValue="id"
                     bindLabel="organisationStatus"
                     name="type"
                     placeholder="Choose Organisation Status"
                     style="width: 100%;"
                     [(ngModel)]="member.roleID">
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn btn-secondary m1-auto" (click)="modal.close()">Cancel</div>
    <div class="btn btn-primary" (click)="updateMember(modal)">Save</div>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title2">Do you really want to delete member?</h5>
  </div>
  <div class="modal-body">
    <p>If you want you can change member organisation status to archival</p>
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary m1-auto" (click)="archiveMember(modal)">Archive</div>
    <div class="btn btn-primary" (click)="deleteMember(modal)">Delete</div>
  </div>
</ng-template>
