<!--The content below is only a placeholder and can be replaced.-->

<div class="mx-auto bg-white text-white" style="width: 98%;">
  <div style="text-align:center; ">
    <img (click)="clickOnTitle()" [src]="image" alt="Welcome image" width="100%" height="100%">
  </div>
</div>
<!--<div class="card mx-auto mt-3 bg-secondary text-white" style="width: 98%; height: 60pt">-->
<!--  <div style="text-align:center; ">-->
<!--    <h5></h5>-->
<!--      <h1 (click)="clickOnTitle()">-->
<!--        Welcome to {{ title }}!-->
<!--      </h1>-->
<!--  </div>-->
<!--</div>-->

<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<!--<div id="gridContainer">-->
<!--  <div class="row">-->
<!--    <div class="col-2"><app-sidebar></app-sidebar></div>-->
<!--    <div class="col-10"><router-outlet></router-outlet></div>-->
<!--  </div>-->
<!--</div>-->
